@model cfp.online.Models.ProposalViewModel

@{
    ViewData["Title"] = "Home";
}

@if (!Model.Empty)
{
    if (Model.Success)
    {
        <div id="okMessage" class="alert alert-success" role="alert">
            Call for paper submitted succesfully. It will be visible once our team verify its authenticity. Thanks!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div id="koMessage" class="alert alert-danger" role="alert">
            There was an error sending the Call for Paper. Sorry for the inconvenience.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<div class="row">
    <div class="text-center col-md-12">
        <h1 class="display-2">Welcome!</h1>
        <p>Submit below the Call for Paper URL for your conference and find speaker from all over the world!!</p>
    </div>
    <div class="col-md-5 mt-4">
        <div class="text-center">
            <h4 class="text-capitalize mb-4">Conference info</h4>
        </div>
        <form asp-controller="Home" asp-action="Submit">
            <div class="form-group">
                <label for="ConferenceName">Conference name</label>
                <input type="text" class="form-control" name="ConferenceName" id="ConferenceName" required placeholder="Contoso Tech Summit" value="@Model.ConferenceName">
            </div>
            <div class="form-group">
                <label for="Website">Call for Paper URL</label>
                <input type="url" class="form-control" name="Website" id="Website" required placeholder="https://myconferencesite.com/c4p" value="@Model.Website">
            </div>
            <div class="form-group">
                <label for="EndDate">End date</label>
                <input type="date" class="form-control" asp-for="EndDate" required placeholder="MM/dd/yyyy" asp-format="{0:MM/dd/yyyy}">
            </div>
            <div class="form-group">
                <label for="Region">Geographic area</label>
                <select class="form-control" asp-for="Region" asp-items="Model.Regions"></select>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    <div class="col-md-7 mt-4">
        <div class="text-center">
            <h4 class="text-capitalize mb-4">Discover speaking opportunities</h4>
        </div>
        <p>Discover the session that other user submitted with our shiny .NET CLI Tool.</p>
        <div class="install-tabs">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="dotnet-cli">
                    <div>
                        <div class="install-script" id="dotnet-cli-text">
                            <span>
                                > dotnet tool install -g c4p.online
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="mt-2">And use it right away from the command line</p>
        <div class="install-tabs">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="dotnet-cli">
                    <div>
                        <div class="install-script" id="dotnet-cli-text">
                            <span>
                                <pre style="color:white">
> c4p NA

C4P Online v1.0.4
Here are the available Call for Papers in NA
--------------------------
Conference Name: My Awesome Conference 2019
URL: https://myawesomeconference.com/c4p
Ends: 03/14/2019
</pre>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>